
<div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

<!-- Single Blog Area  -->
<% @articles.each do |article| %>
    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
        <div class="row align-items-center">
            
                <div class="col-12 col-md-6">
                    <div class="single-blog-thumbnail">
                        <%= image_tag("3.jpg") %>
                        <div class="post-date">
                            <a href="#">12 <span>march</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4><%= link_to article.title, article %></h4>
                        <p> <%= truncate(article.body, length: 300) %>
                        <div class="post-meta">
                            <p>By <a href="#">john doe</a></p>
                            <p>3 comments</p>
                        </div>
                    </div>
                </div>
             
        </div>
    </div>
<% end %>                      


           

