
<div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

<div class="post-a-comment-area mt-70">
    <h5>New Article</h5>
    <!-- Reply Form -->
    <%= render "form", article: @article %>
</div>    
        
